body {
    background-color: #494545;
    color: antiquewhite;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: #494545;
    background-color: antiquewhite;
    padding: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
label, input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    color: antiquewhite;
    background-color: #494545;
    border: 2px solid antiquewhite;
    border-radius: 10px;
}
button:hover {
    background-color: antiquewhite;
    color: #494545;
    border: 2px solid #494545;
}