body {
    background-color: #494545;
    color: antiquewhite;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    padding: 20px;
}

a, button {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;

    border: 2px solid antiquewhite;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

a:hover, button:hover {
    background-color: antiquewhite;
    color: #494545;
    border: 2px solid #494545;
}

.form-group {
    padding: 20px !important;
}

/*Users list*/
li {
    list-style-type: none; /* Removes bullet points */
    padding: 0; /* Optional: Removes extra padding */
    margin: 0; /* Optional: Removes extra margin */
}
span {
    font-weight: bold;
}